

*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;

}
a {
  color: #fff;
  text-decoration: none;
}

.li{
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color:rgba(0,0,0,.4);

}

.li:hover{
      background-color: rgba(110,110,110.4);
}

li{
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color:rgba(0,0,0,.4);
}

img{
    border: 2px solid #fff;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.photo{
    display: flex;
    justify-content: center;
    background-color:rgba(0,0,0,.2)
}
.foto{
    border: 2px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}
.foto1{
    border: 2px solid #fff;
    border-radius: 95px;
    -webkit-border-radius: 95px;
    -moz-border-radius: 95px;
    -ms-border-radius: 95px;
    -o-border-radius: 95px;
}



.master{
    display: flex;
    flex-flow: column nowrap;
}
       /*cuerpo principal*/
    .header{
        background-image: url(../images/pc6.jpg);
        background-position: center;
        background-attachment:contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background-color: rgba(0,0,0,.2);
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
            border-bottom: 1px solid #fff;
         }  
            .logo{
                flex: 1 1 auto;
                background-color: rgba(0,0,0,.1);
                
                
                
            }   
                .logo a{
                    color: #fff;
                    font-size: 30px;
                    display: flex;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    justify-content: center;
}
                .logo a:hover{
                    color:blue 
                }
            .nav{
                display: flex;
                flex: 5 1 auto;
            }
                .nav a:hover{
                   color: #343434;
                }
                .nav {
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
            .social{
                font-size: 40px;
                color: #fff;
                padding: 0 5px;
                flex: 1 1 auto;
                display: flex;
            }
        .texto_principal{
            background-color: rgba(0,0,0,.2);
            color: #fff;
        }    .contacto{
            font-size: 30px;
            text-align: center;
            
            
        }

    .section{
        background-image: url(../images/pc1.jpg);
        background-position: center;
        background-attachment:contain;
        background-size: cover;
        display: flex;
        
    
       }    .articulos{
            background-color: rgba(0,0,0,.2);
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;

            }   
                .article{
                background-color: rgba(0,0,0,.2);
                color: #fff;
                flex: 1 1 40%;

                

                }
                
                .article p{
                    font-size: 20px;
                    color: #fff;
                }
                .article a:hover{
                    color: darkkhaki;
                }
                .article .ico{
                    font-size: 50px;

                }
                
                .navegacion{
                    background-color: #003158;
                    flex: 1 1 100%;   
                }

                .aside{
                background-color:rgba(0,0,0,.2);
                color:#fff
                flex: 1 1 auto;
                }
                .publicidad{
                    background-color:rgba(0,0,0,.2);
                    color: #fff;
                    text-align: center;
                    
                    
                } 
	             /* botones e imágenes index */

.slider{
	margin:50px auto;
	width:50%;
	text-align:center;
}
 
.img-box img{
	width:100%;
}

.btn{
	border:none;
	outline:none;
	background:#111;
	padding: 10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;
	border-radius:10%;
	 
}


.btn:hover{
	background: #888;
}			   
    .footer{
        background-color: black;
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 15px;
        text-align: center;
       }
       .pie{
        background-color: #062b47;
        border-radius: 10px;
	border:2px solid #fff;
        
       }
        
@media all and (max-width:800px){
        .section{
           flex-direction:column;
           width: auto;
       }
        .menu{
           flex-direction:column;
           height: auto;
           display: flex;
           
       }
        .aside{
           display: flex;
           justify-content: center;
       }
   }
   
@media all and (max-width:600px){
       .articulos{
           flex-direction: column;
         }
         .article{
            flex-direction: column;
            
        }
         .publicidad{
            width:auto;
         } 
         
       .aside{
           flex-direction: column;
           width: auto;
       }
       .nav{
        flex-direction:column;
        justify-content: center;
    } 
   }
@media all and (max-width:470px){
       .aside{
           flex-direction:column;
           justify-content: end;
           width:auto;
           
        }
        .article{
            flex-direction: column;
            
        }
	div.img-box{
            flex-direction: column;
            justify-content: center;
            width: 300px;
            height: auto;
        }
        .slider{
            width: 330px;
            margin: none;
        }
         

   }     

body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-thumb{
    background: #003158;
    border: 3px solid rgb(16, 38, 63);
    border-radius:5px ;
}

.swal-modal {
    background-color: rgba(5, 20, 51, 0.75);
    border: 3px solid white;
    border-radius: 10px;
    
}
  .swal-text {
    padding: 17px;
    border: 1px solid #fff;
    border-radius:10px;
    display: block;
    margin: 22px;
    text-align: center;
    color: white;
    
}
  .swal-title {
    color: #fff;
  } 
